<template>
  <Page>
    <ActionBar>
      <Label text="dollarPrice" />
    </ActionBar>

    <TabView
      height="100%"
      textFieldBackgroundColor="#07bb58"
      android-tabs-position="bottom"
      tab-text-font-size="16"
    >
      <TabViewItem title="Курс валют">
        <StackLayout orientation="vertical" width="100%" height="100%">
        <FlexboxLayout backgroundColor="#c0c0c0">
          <Label
            id="dollar"
            :text="Valute.Name"
            class="list-group-item-heading"
            text-wrap="true"
          />
            <Label
            id="dollar"
            :text="Valute.Value"
            class="list-group-item-heading"
            text-wrap="true"
          />
        </FlexboxLayout>
                <FlexboxLayout backgroundColor="#c0c0c0">
          <Label
            id="dollar"
            :text="Valute2.Name"
            class="list-group-item-heading"
            text-wrap="true"
          />
            <Label
            id="dollar"
            :text="Valute2.Value"
            class="list-group-item-heading"
            text-wrap="true"
          />
        </FlexboxLayout>
            <FlexboxLayout backgroundColor="#c0c0c0">
          <Label
            id="dollar"
            :text="Valute3.Name"
            class="list-group-item-heading"
            text-wrap="true"
          />
            <Label
            id="dollar"
            :text="Valute3.Value"
            class="list-group-item-heading"
            text-wrap="true"
          />
        </FlexboxLayout>
        </StackLayout>
      </TabViewItem>

      <TabViewItem title="Погода">
        <StackLayout orientation="vertical" width="100%" height="100%">
        <Label text="Погода в Ханты-мансийске" class="pogoda-hm"></Label>
        <FlexboxLayout backgroundColor="#c0c0c0">
          <Label
            id="dollar"
            text="Температура:"
            class="list-group-item-heading"
            text-wrap="true"
          />
            <Label
            id="dollar"
            :text="weather.main.temp + ' С°'"
            class="list-group-item-heading"
            text-wrap="true"
          />
        </FlexboxLayout>
            <FlexboxLayout backgroundColor="#c0c0c0">
          <Label
            id="dollar"
            text="Ощущается как:"
            class="list-group-item-heading"
            text-wrap="true"
          />
            <Label
            id="dollar"
             :text="weather.main.feels_like + ' С°'"
            class="list-group-item-heading"
            text-wrap="true"
          />
        </FlexboxLayout>
            <FlexboxLayout backgroundColor="#c0c0c0">
          <Label
            id="dollar"
            text="Максимальная температура:"
            class="list-group-item-heading"
            text-wrap="true"
          />
            <Label
            id="dollar"
             :text="weather.main.temp_max + ' С°'"
            class="list-group-item-heading"
            text-wrap="true"
          />
        </FlexboxLayout>
            <FlexboxLayout backgroundColor="#c0c0c0">
          <Label
            id="dollar"
            text="Минимальная температура:"
            class="list-group-item-heading"
            text-wrap="true"
          />
            <Label
            id="dollar"
             :text="weather.main.temp_min + ' С°'"
            class="list-group-item-heading"
            text-wrap="true"
          />
        </FlexboxLayout>
        </StackLayout>
      </TabViewItem>
      <TabViewItem title="Цитаты">
        <StackLayout orientation="vertical" width="100%" height="100%">
             <Button text="обновить цитату" @tap="getQuote" />
            <FlexboxLayout backgroundColor="#c0c0c0" flexDirection='column'>
          <Label
            id="dollar"
            text="Цитата:"
            class="list-group-item-heading"
            text-wrap="true"
          />
            <Label
            id="dollar"
             :text="quote.quote"
            class="list-group-item-heading"
            text-wrap="true"
          />
        </FlexboxLayout>
                    <FlexboxLayout backgroundColor="#bbbbbb" flexDirection='column'>
          <Label
            id="dollar"
            text="Автор:"
            class="list-group-item-heading"
            text-wrap="true"
          />
            <Label
            id="dollar"
             :text="quote.author"
            class="list-group-item-heading"
            text-wrap="true"
          />
        </FlexboxLayout>
            <FlexboxLayout backgroundColor="#c0c0c0" flexDirection='column'>
          <Label
            id="dollar"
            text="Серия:"
            class="list-group-item-heading"
            text-wrap="true"
          />
            <Label
            id="dollar"
             :text="quote.series"
            class="list-group-item-heading"
            text-wrap="true"
          />
        </FlexboxLayout>
        </StackLayout>
      </TabViewItem>
    </TabView>
  </Page>
</template>

<script>
import { Http } from "@nativescript/core";
export default {
  data() {
    return {
      Valute: { 
          
       },
      Valute2:{ },
      Valute3:{ },
      weather:{ 
          main:{
              temp:'',
          }
      },
      quote:{

      }
    };
  },
  created() {
    this.getDollars();
    this.getPogoda();
    this.getQuote();
  },
  
  methods: {
    getDollars() {
      Http.getJSON("https://www.cbr-xml-daily.ru/daily_json.js")
        .then((response) => {
            this.Valute = response['Valute']['AUD'];
            this.Valute2 = response['Valute']['HUF'];
            this.Valute3 = response['Valute']['DKK'];
        })
        .catch((e) => {
          console.error(e);
        });

    },
    getPogoda() {
      Http.getJSON("https://api.openweathermap.org/data/2.5/weather?lat=61&lon=69&appid=300342b49211fcf9c3d79b203e9a8901")
        .then((response) => {
          this.weather = response;
          this.weather.main.temp = (this.weather.main.temp - 273).toFixed(2);
          this.weather.main.feels_like = (this.weather.main.feels_like - 273).toFixed(2);
          this.weather.main.temp_min = (this.weather.main.temp_min - 273).toFixed(2);
          this.weather.main.temp_max = (this.weather.main.temp_max - 273).toFixed(2);
        })
        .catch((e) => {
          console.error(e);
        });
    },
    getQuote() {
      Http.getJSON("https://www.breakingbadapi.com/api/quotes")
        .then((response) => {
          let rnd = Math.floor(Math.random() * 10);
          this.quote = response[rnd];
        })
        .catch((e) => {
          console.error(e);
        });
    },
  },

};
</script>

<style scoped lang="scss">
@import "@nativescript/theme/scss/variables/blue";
// Custom styles
.fas {
  @include colorize($color: accent);
}
Button {
  font-size: 12;
  font-weight: 300;
  color: white;
  font-size:24px;
  background-color: #aa3113;
  padding: 10;
  border-radius: 20px;
}
#up {
  font-size: 12;
  font-weight: bold;
  color: #60e920;
  padding: 10;
}
#down {
  font-size: 12;
  font-weight: bold;
  color: #ff0000;
  padding: 10;
}
#dollar {
  font-size: 16;
  font-weight: bold;
  color: rgb(41, 36, 36);
  padding: 10;
}
.pogoda-hm{
    font-size: 24px ;
}
#from {
  font-size: 16;
  font-weight: bold;
  background-color: #3abf3a8f;
}
#where {
  font-size: 16;
  font-weight: bold;
  background-color: #3a69bf8f;
}
#detail {
  font-size: 16;
  font-weight: bold;
  background-color: #c5cddc8f;
  padding: 10;
  border-radius: 20px;
}
</style>